<div class="form-container">
  <mat-card class="conversion-card">
    <mat-form-field>
      <mat-label>Select source currency:</mat-label>
      <mat-select [(ngModel)]="currencyFrom" (ngModelChange)="changeCurrency()">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount in {{ currencyFrom }}:</mat-label>
      <input matInput type="number" [(ngModel)]="currencyAmountFrom" (ngModelChange)="changeCurrencyAmount()" />
    </mat-form-field>
  </mat-card>

  <br />

  <mat-card class="conversion-card">
    <mat-form-field>
      <mat-label>Select target currency:</mat-label>
      <mat-select [(ngModel)]="currencyTo" (ngModelChange)="changeCurrency()">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount in {{ currencyTo }}:</mat-label>
      <input matInput type="number" placeholder="Provide a value" [(ngModel)]="currencyAmountTo" (ngModelChange)="changeCurrencyAmount()" />
    </mat-form-field>
  </mat-card>
</div>
