<div class="form-container">
  <mat-card class="conversion-card">
    <mat-form-field>
      <mat-label>Select desired currency:</mat-label>
      <mat-select [(ngModel)]="currencyFrom" (ngModelChange)="changeCurrency()">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Provide a value:</mat-label>
      <input matInput type="number"
      [(ngModel)]="currencyAmountFrom"
      (ngModelChange)="changeCurrencyAmount()"/>
    </mat-form-field>
  </mat-card>

  <br />

  <mat-card class="conversion-card">
    <mat-form-field>
      <mat-label>Select desired currency:</mat-label>
      <mat-select [(ngModel)]="currencyTo" (ngModelChange)="changeCurrency()">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Provide a value:</mat-label>
      <input matInput type="number"
      [(ngModel)]="currencyAmountTo"
      (ngModelChange)="changeCurrencyAmountReversed()"/>
    </mat-form-field>
</mat-card>
</div>